apiVersion: apps/v1
kind: Deployment
metadata:
  name: smartseller-storefront
  namespace: smartseller-local
  labels:
    app: smartseller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: smartseller
      tier: frontend
  template:
    metadata:
      labels:
        app: smartseller
        tier: frontend
    spec:
      containers:
        - name: web
          image: ghcr.io/kirimku/smartseller-storefront:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5173
              name: http
          env:
            - name: PORT
              value: "5173"
            - name: APP_ENV
              value: "development"
            - name: LOG_LEVEL
              value: "debug"
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 5
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 5
---
apiVersion: v1
kind: Service
metadata:
  name: smartseller-storefront
  namespace: smartseller-local
  labels:
    app: smartseller
spec:
  type: ClusterIP
  selector:
    app: smartseller
    tier: frontend
  ports:
    - name: http
      port: 5173
      targetPort: 5173